<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.stanford.kindergarten" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>kindergarten</name>
    <description>
        Kindergarten, it's an app to help people study
    </description>
    <author email="howonlee@stanford.edu" href="http://cordova.io">
        Kindergarten team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
